<link rel="stylesheet" href="/public/styles.css">
<ul class="item-container">
	<li class="center">
		<dl>
			<dt class="center">Calories</dt>
			<dd class="center">{{model.calories}}</dd>
		</dl>
	</li>
</ul>
{{outlet}}