<link rel="stylesheet" href="/public/styles.css">

<h4>Ham and Goat Cheese Croissant</h4>
<img src="/img/ham-goat-cheese-croissant.jpg" alt="">	
<p>3.9</p>
<p>
This is delicious if you're into that kinda thing.
</p>

{{outlet}}