{{outlet}}

Hungry?

<ul class="items-container">
	<li class="menu-item">
		<h4>Ham and Goat Cheese Croissant</h4>
		<img src="/img/ham-goat-cheese-croissant.jpg" alt="">
		<a href="/img/ham-goat-cheese-croissant">Details</a>		
	</li>
	<li class="menu-item">
		<h4>Chicken Pomegrante Salad</h4>
		<img src="/img/chicken-pomegranate-salad.jpg" alt="">	
		<a href="/img/chicken-pomegranate-salad">Details</a>	
	</li>
	<li class="menu-item">
		<h4>Strawberry Pudding</h4>
		<img src="/img/Strawberry-Pudding.jpg" alt="">
		<a href="/img/Strawberry-Pudding">Details</a>		
	</li>
</ul>

